<!-- Modal -->
<div class="modal fade" id="createInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="createInvoiceModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createInvoiceModalLabel">Create Invoice</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <form class="form-horizontal"
          action="{{ url_for('invoices.create_invoice') }}"
          method="POST"
          enctype="application/x-www-form-urlencoded"
    >
      <div class="modal-body">
        <h4 id="invoice_total" class="text-center mb-4">Total to be Invoiced : </h4>

        <div class="form-group">
          <input type="hidden" name="unit_id" value="{{ unit.unit_id }}">
          <input type="hidden" name="tenant_id" value="{{ tenant.tenant_id }}">
          <input type="hidden" name="property_id" value="{{ tenant.property_id }}">

          <label for="charges">Select Charges:</label>
          <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Description</td>
                        <td>Total</td>
                        <td>Include</td>
                    </tr>
                </thead>
                <tbody>
                    {% for charged_item in charged_items %}
                        <tr>
                            <td>{{ charged_item.item.description }}</td>
                            <td>R {{ charged_item.item.multiplier * charged_item.amount }}</td>
                            <td><input type="checkbox" name="charge_ids[]" value="{{ charged_item.charge_id }}"></td>
                        </tr>
                    {% endfor %}
                </tbody>

          </table>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="includeRental" name="rental_amount">
          <label class="form-check-label mb-4" for="includeRental">
            Include Unit Rental:  R {{ unit.rental_amount }}.00
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="sendInvoice" name="send_invoice">
          <label class="form-check-label mb-4" for="sendInvoice">
            Send Invoice to User
          </label>
        </div>

      </div>
      <div class="modal-footer">
          <span class="card-content font-weight-bold text-info">
              This invoice will be invoiced to {{ tenant.name }} of Unit : {{ unit.unit_number }}
          </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
            <i class="ti-close"> </i>
            Close
        </button>
        <button type="submit" class="btn btn-sm btn-primary">
            <i class="ti-save"></i>
            Create
        </button>
      </div>
    </form>
    </div>
  </div>
</div>

{% block scripts %}
    <script>
  // Function to update the invoice total
  function formatNumberWithCommas(number) {
    return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }

  function updateInvoiceTotal() {
    // Get the invoice total element
    let invoiceTotalElement = document.getElementById('invoice_total');

    // Get the checkboxes for charges and rental
    let chargeCheckboxes = document.querySelectorAll('input[name="charge_ids[]"]');
    let rentalCheckbox = document.getElementById('includeRental');

    // Initialize the total to zero
    let total = 0;

    // Calculate the total based on selected charges
    chargeCheckboxes.forEach(function (checkbox) {
      if (checkbox.checked) {
        // Get the corresponding total rental_amount for the charge
        let chargeRow = checkbox.closest('tr');
        let chargeTotal = parseFloat(chargeRow.querySelector('td:nth-child(2)').textContent.replace('R', '').trim());
        total += chargeTotal;
      }
    });

    // Add rental rental_amount if the rental checkbox is selected
    if (rentalCheckbox.checked) {
      let rentalAmount = parseFloat('{{ unit.rental_amount }}');
      total += rentalAmount;
    }

    // Update the invoice total element text
    invoiceTotalElement.textContent = 'Total to be Invoiced: R ' + formatNumberWithCommas(total);
  }

  // Event listeners to update the invoice total when checkboxes are clicked
  let chargeCheckboxes = document.querySelectorAll('input[name="charge_ids[]"]');
  let rentalCheckbox = document.getElementById('includeRental');
  let sendInvoiceCheckbox = document.getElementById('sendInvoice');

  chargeCheckboxes.forEach(function (checkbox) {
    checkbox.addEventListener('change', updateInvoiceTotal);
  });

  rentalCheckbox.addEventListener('change', updateInvoiceTotal);
  sendInvoiceCheckbox.addEventListener('change', updateInvoiceTotal);

  // Initial update of the invoice total
  updateInvoiceTotal();
</script>

{% endblock %}