<!-- Modal Dialog -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="emailModalLabel">Send Email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-header">
                        <span class="card-title">
                            This will send email to : <span class="text-info">{{ tenant.email }}</span>
                        </span>
                    </div>

                    <form enctype="multipart/form-data"
                          class="form-horizontal"
                          action="{{ url_for('buildings.do_send_invoice_email') }}"
                          method="POST"
                    >
                        <input type="hidden" name="building_id" value="{{ unit.property_id }}">
                        <input type="hidden" name="unit_id" value="{{ unit.unit_id }}">
                        <input type="hidden" class="form-control" id="email" name="email" value="{{ tenant.email }}"
                               readonly>
                        <div class="form-group">
                            <label for="subject">Subject:</label>
                            <input type="text" class="form-control" id="subject" name="subject"
                                   placeholder="Enter email subject">
                        </div>
                        <div class="form-group">
                            <label for="message">Message:</label>
                            <textarea class="form-control"
                                      id="message"
                                      name="message"
                                      placeholder="Enter email message"
                                      rows="5"
                            ></textarea>
                        </div>
                        <div id="invoiceTableDiv" style="height: 400px; overflow-y: auto;">
                            <h5>Select an invoice:</h5>
                            <table id="invoiceTable" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Invoice #</th>
                                    <th>Customer</th>
                                    <th>Due Date</th>
                                    <th>Amount</th>
                                    <th>Select</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for invoice in historical_invoices %}
                                    <tr>
                                        <td>{{ invoice.invoice_number }}</td>
                                        <td>{{ invoice.customer.name }}</td>
                                        <td class="{% if invoice.days_remaining < 0 %}text-danger{% else %}text-info{% endif %}">
                                            {{ invoice.due_date }}
                                        </td>
                                        <td>R {{ invoice.amount_payable|currency }}.00</td>
                                        <td>
                                            <input type="checkbox" name="invoice_numbers[]"
                                                   value="{{ invoice.invoice_number }}">
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>

                        </div>
                        {% if not historical_invoices %}
                            <div class="card-footer">
                            <span class="card-content text-danger">
                                Please Note: That there are not invoices to send, at this time.
                            </span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
                                <i class="ti-close"> </i>
                                Close
                            </button>
                            <button type="submit" class="btn btn-sm btn-primary" disabled>
                                    <i class="ti-email"> </i>
                                    Send
                            </button>
                        </div>
                        {% else %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
                                <i class="ti-close"> </i>
                                Close
                            </button>
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="ti-email"> </i>
                                Send
                            </button>
                        </div>

                        {% endif %}

                    </form>
                </div>
            </div>
        </div>
    </div>