<div class="card-body">
    <div class="card basic-plan">
        <div class="card-header">
            <h5 class="card-title font-weight-bold text-success">Basic Plan</h5>
        </div>
        <div class="card-body">
            <p class="card-text font-italic text-success">Our Basic Plan is suitable for small to
                medium-sized rental properties.
            </p>
            <ul class="list-group text-dark">
                <li class="list-group-item">Can Support up to one Company</li>
                <li class="list-group-item">Can Support Up to Two Buildings</li>
                <li class="list-group-item">Building Size must not exceed 24 Units / Rooms / Shops</li>
                <li class="list-group-item">Email Support for sending Invoices to Tenants</li>
            </ul>
        </div>
    </div>
</div>