<div class="card premium-plan">
    <div class="card-header">
        <h5 class="card-title  font-weight-bold text-info">Premium Plan</h5>
    </div>
    <div class="card-body">
        <p class="card-text  font-italic text-info">Our Premium Plan is designed for expanding rental
            operations with additional features and dedicated support.</p>
        <ul class="list-group text-dark">
            <li class="list-group-item">Support for Multiple Companies</li>
            <li class="list-group-item">Support for Up to Five Buildings</li>
            <li class="list-group-item">Support for Upto 150 Units</li>
            <li class="list-group-item">Email and Phone Support for Tenants and Owners</li>
            <li class="list-group-item">Advanced Financial Reporting</li>
        </ul>
    </div>
</div>