<div class="card ultimate-plan">
    <div class="card-header">
        <h5 class="card-title font-weight-bold text-success">Ultimate Plan</h5>
    </div>
    <div class="card-body">
        <p class="card-text  font-italic text-success">The Ultimate Plan offers a comprehensive solution
            for large-scale rental management with exclusive benefits.</p>
        <ul class="list-group text-dark">
            <li class="list-group-item">Unlimited Company Support</li>
            <li class="list-group-item">Unlimited Buildings and Units</li>
            <li class="list-group-item">Customizable Online Portal for Tenants and Owners</li>
            <li class="list-group-item">Priority Email, Phone, and Chat Support</li>
            <li class="list-group-item">Access to Beta Features and Early Releases</li>
            <li class="list-group-item">Personalized Onboarding and Training</li>
        </ul>
    </div>
</div>