<div class="card">
    <div class="card-header">
        <h3 class="card-title">Company Data</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">Company Name: {{ company.company_name }}</li>
            <li class="list-group-item">Description: {{ company.description }}</li>
{#            <li class="list-group-item">Address Line 1: {{ company.address_line_1 }}</li>#}
{#            <li class="list-group-item">Address Line 2: {{ company.address_line_2 }}</li>#}
            <li class="list-group-item">City: {{ company.city }}</li>
            <li class="list-group-item">Postal Code: {{ company.postal_code }}</li>
            <li class="list-group-item">Province: {{ company.province }}</li>
            <li class="list-group-item">Country: {{ company.country }}</li>
            <li class="list-group-item">Contact Number: {{ company.contact_number }}</li>
            <li class="list-group-item">Website: {{ company.website }}</li>
        </ul>
    </div>
</div>
