
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="card-title">Invoices</h3>

        <span class="card-content font-weight-bold">
            Historical Tenant Invoices
        </span>
        <div>
            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#emailInvoiceModal">
                <span class="font-weight-bold">
                    <i class="ti-email"> </i>
                    Email Invoices
                </span>
            </button>
            <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#printInvoiceModal">
                <span class="font-weight-bold">
                <i class="ti-printer"> </i>
                    Print
                </span>
            </button>
        </div>
    </div>

    <div class="card-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="paid-tab" data-toggle="tab" href="#paid-invoices" role="tab"
                   aria-controls="paid-invoices" aria-selected="true">
                    <span class="font-weight-bold text-info">
                        Paid Invoices
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="unpaid-tab" data-toggle="tab" href="#unpaid-invoices" role="tab"
                   aria-controls="unpaid-invoices" aria-selected="false">
                    <span class="font-weight-bold text-info">
                        Unpaid Invoices
                    </span>
                </a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="paid-invoices" role="tabpanel" aria-labelledby="paid-tab">
                <div class="card-footer">
                    <table id="invoiceTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Invoice #</th>
                            <th>Tenant</th>
                            <th>Date Issued</th>
                            <th>Due Date</th>
                            <th>Invoiced Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for invoice in paid_invoices %}
                            <tr>
                                <td>{{ invoice.invoice_number }}</td>
                                <td>{{ invoice.customer.name }}</td>
                                <td>{{ invoice.date_issued }}</td>
                                <td class="text-info">
                                    {{ invoice.due_date }}
                                </td>
                                <td>R {{ invoice.amount_payable|currency }}.00</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="unpaid-invoices" role="tabpanel" aria-labelledby="unpaid-tab">
                <div class="card-footer">
                    <table id="invoiceTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Invoice #</th>
                            <th>Tenant</th>
                            <th>Date Issued</th>
                            <th>Due Date</th>
                            <th>Amount Payable</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for invoice in unpaid_invoices %}
                            <tr>
                                <td>{{ invoice.invoice_number }}</td>
                                <td>{{ invoice.customer.name }}</td>
                                <td>{{ invoice.date_issued }}</td>
                                <td class="{% if invoice.days_remaining < 0 %}text-danger{% else %}text-info{% endif %}">
                                    {{ invoice.due_date }}
                                </td>
                                <td>R {{ invoice.amount_payable|currency }}.00</td>
                                <td>
                                    {% include "invoices/invoice_list_form.html" %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "tenants/modals/send_invoice_email.html" %}
{% include "tenants/modals/print_invoices.html" %}