
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="card-title">Invoices</h3>

        <span class="card-content font-weight-bold">
            Historical Tenant Invoices
        </span>
        <div>
            <button  class="btn btn-sm btn-primary" data-toggle="modal" data-target="#emailInvoiceModal">
                <span class="font-weight-bold">
                    <i class="ti-email"> </i>
                    Email Invoices
                </span>
            </button>
            <button class="btn btn-sm btn-default" onclick="window.print()">
                <span class="font-weight-bold">
                <i class="ti-printer"> </i>
                    Print
                </span>
            </button>
        </div>
    </div>

    <div class="card-body">
        <div class="card-footer">
            <table id="invoiceTable" class="table table-striped">
                <thead>
                <tr>
                    <th>Invoice #</th>
                    <th>Tenant</th>
                    <th>Date Issued</th>
                    <th>Due Date</th>
                    <th>Amount Payable</th>
                    <th class="text-info"><i class="ti-credit-card"></i> Payment</th>
                </tr>
                </thead>
                <tbody>
                {% for invoice in historical_invoices %}
                    <tr>
                        <td>{{ invoice.invoice_number }}</td>
                        <td>{{ invoice.customer.name }}</td>
                        <td>{{ invoice.date_issued }}</td>
                        <td class="{% if invoice.days_remaining < 0 %}text-danger{% else %}text-info{% endif %}">
                            {{ invoice.due_date }}
                        </td>
                        <td>R {{ invoice.amount_payable|currency }}.00</td>
                        <td>
                            <form class="form-horizontal" method="POST"
                                  action="{{ url_for('payments.create_unit_payment', invoice_number=invoice.invoice_number) }}">
                                <input type="hidden" name="invoice_number" value="{{ invoice.invoice_number }}"/>
                                <input type="hidden" name="tenant_id" value="{{ unit.tenant_id }}">
                                <input type="hidden" name="property_id" value="{{ unit.property_id }}">
                                <input type="hidden" name="unit_id" value="{{ unit.unit_id }}">
                                <div class="input-group input-group-right">
                                    <input type="number"
                                           value="{{ invoice.amount_payable }}"
                                           name="amount_paid"
                                           class="form-control input-lg col-lg-6 col-md-6"/>
                                    <span class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-group-right"
                                            type="submit"
                                            title="Click to pay invoice"
                                    >
                                        <i class="ti-credit-card"></i>
                                    </button>
                                </span>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% include "tenants/modals/send_invoice_email.html" %}
