<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="card-title">Tenant Payments</h3>
        <span class="card-content font-weight-bold">
            Tenant - Payment Receipts
        </span>
        <div>
            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#printReceiptModal">
                <span class="font-weight-bold">
                    <i class="ti-printer"> </i>
                    Email Receipts
                </span>
            </button>

            <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#printReceiptModal">
                <span class="font-weight-bold">
                    <i class="ti-printer"> </i>
                    Print
                </span>
            </button>
        </div>
    </div>

    <div class="card-body">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <td><i class="ti-check-box"></i> Invoice Number</td>
                <td><i class="ti-money"></i> Amount</td>
                <td><i class="ti-calendar"></i> Date Paid</td>
                <td><i class="ti-credit-card"></i> Method</td>
                <td>Action</td>
            </tr>
            </thead>
            <tbody>
            {% for receipt in payment_receipts %}
                <tr>
                    <td>{{ receipt.invoice_number }}</td>
                    <td>R {{ receipt.amount_paid|currency }}.00</td>
                    <td>{{ receipt.date_paid }}</td>
                    <td>{{ receipt.payment_method|payment_method }}</td>
                    <td>
                        <a href="{{ url_for("payments.edit_payment", transaction_id=receipt.transaction_id) }}"
                           class="btn btn-sm  btn-warning" title="Edit Receipt">
                            <i class="ti-pencil"> </i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% include "tenants/modals/print/receipt.html" %}