<div class="content">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-title"><i class="ti-package"></i> Subscription Details</h3>
            <div>
                <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#subscriptionModal">
                    {% if not subscription %}
                        <i class="ti-credit-card"> </i>
                        Subscribe
                    {% else %}
                        <i class="ti-credit-card"> </i>
                        Renew Subscription
                    {% endif %}
                </button>
            </div>
        </div>
        {% if subscription %}
            <!-- display subscriber data -->
            {% include "profile/tabs/details.html" %}
        {% else %}
            <!-- display subscription plan information -->
            {% include "profile/tabs/subscription_plans.html" %}
        {% endif %}
    </div>
</div>
{% include "profile/modal/subscription.html" %}