{% block custom_css %}
    <style>
        .basic-plan {
            background-color: #5d6c7b;
        }
        .premium-plan {
            background-color: #2e3d62;
        }
        .ultimate-plan {
            background-color: #04213b;
        }
        .trial-plan {
            background-color: #2e3d62;
        }
    </style>
{% endblock %}

<div class="card-body">
    <h1>Property &amp; Rental Manager - Subscription Plans</h1>
    <div class="row text-white">
        <div class="col-md-4">
            <!-- Basic Plan Details see templates on home -->
            {% include "profile/home/basic.html" %}

            <div class="card-footer">
                {% if user and user.user_id %}
                    {% if (subscription and (subscription.plan.name == "Basic")) and  not subscription.is_active %}
                        <a href="{{ url_for('profile.get_profile') }}"
                           class="btn btn-sm btn-primary">
                            <span class="font-italic"> Activate Subscription </span>
                        </a>
                    {% else %}
                        <a href="{{ url_for('profile.get_profile') }}"
                           class="btn btn-sm btn-primary">
                            <span class="font-italic"> Activate Subscription </span>
                        </a>
                    {% endif %}
                {% else %}
                    <a href="{{ url_for('auth.do_login') }}"
                       class="btn btn-sm btn-primary">
                        <span class="font-italic">
                            <i class="ti-user"> </i>
                            Login to subscribe
                        </span>
                    </a>
                    {% for plan in plans_list %}
                        {% if plan.name == "Basic" %}
                            <a class="btn btn-sm btn-default"
                               href="{{ url_for('profile.get_plan_details', plan_id=plan.plan_id) }}"
                            > {{ plan.name }} ...
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            {% include "profile/home/premium.html" %}
            <div class="card-footer">
                {% if user and user.user_id %}
                    {% if (subscription and (subscription.plan.name == "Premium")) and  not subscription.is_active %}
                        <a href="{{ url_for('profile.get_profile') }}"
                           class="btn btn-sm btn-primary">
                            <span class="font-italic"> Activate Subscription </span>
                        </a>
                    {% else %}
                        <a href="{{ url_for('profile.get_profile') }}"
                           class="btn btn-sm btn-primary">
                            <span class="font-italic"> Activate Subscription </span>
                        </a>
                    {% endif %}
                {% else %}
                    <a href="{{ url_for('auth.do_login') }}"
                       class="btn btn-sm btn-primary">
                        <span class="font-italic">
                            <i class="ti-user"> </i>
                            Login to subscribe
                        </span>
                    </a>
                    {% for plan in plans_list %}
                        {% if plan.name == "Premium" %}
                            <a class="btn btn-sm btn-default"
                               href="{{ url_for('profile.get_plan_details', plan_id=plan.plan_id) }}"
                            > {{ plan.name }} ...
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            {% include "profile/home/ultimate.html" %}
            <div class="card-footer">
                {% if user and user.user_id %}
                    {% if (subscription and (subscription.plan.name == "Ultimate")) and  not subscription.is_active %}
                        <a href="{{ url_for('profile.get_profile') }}"
                           class="btn btn-sm btn-primary">
                            <span class="font-italic"> Activate Subscription </span>
                        </a>
                    {% else %}
                        <a href="{{ url_for('profile.get_profile') }}"
                           class="btn btn-sm btn-primary">
                            <span class="font-italic"> Activate Subscription </span>
                        </a>

                    {% endif %}
                {% else %}
                    <a href="{{ url_for('auth.do_login') }}"
                       class="btn btn-sm btn-primary">
                        <span class="font-italic">
                            <i class="ti-user"> </i>
                            Login to subscribe
                        </span>
                    </a>
                    {% for plan in plans_list %}
                        {% if plan.name == "Ultimate" %}
                            <a class="btn btn-sm btn-default"
                               href="{{ url_for('profile.get_plan_details', plan_id=plan.plan_id) }}"
                            > {{ plan.name }} ...
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card trial-plan">
                <div class="card-header">
                    <h5 class="card-title font-weight-bold text-warning">Trial Plan</h5>
                </div>
                <div class="card-body">
                    <p class="card-text font-weight-bold text-white">Start your rental management journey with a
                        one-month trial. Transition seamlessly to the Basic or other plans to continue enjoying the
                        benefits.</p>
                </div>
            </div>
            <div class="card-footer">
                {% if user and user.user_id %}
                    {% if (subscription and (subscription.plan.name == "Trial")) and  not subscription.is_active %}
                        <a href="{{ url_for('profile.get_profile') }}"
                           class="btn btn-sm btn-primary">
                            <span class="font-italic"> Activate Subscription </span>
                        </a>
                    {% else %}
                        <a href="{{ url_for('profile.get_profile') }}"
                           class="btn btn-sm btn-primary">
                            <span class="font-italic"> Activate Subscription </span>
                        </a>
                    {% endif %}
                {% else %}
                    <a href="{{ url_for('auth.do_login') }}"
                       class="btn btn-sm btn-primary">
                        <span class="font-italic">
                            <i class="ti-user"> </i>
                            Login to subscribe
                        </span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
