<form class="form-horizontal" method="POST"
      action="{{ url_for('payments.create_unit_payment', invoice_number=invoice.invoice_number) }}">
    <input type="hidden" value="{{ invoice.amount_payable }}" name="amount_paid"/>
    <input type="hidden" name="invoice_number" value="{{ invoice.invoice_number }}"/>
    <input type="hidden" name="tenant_id" value="{{ unit.tenant_id }}">
    <input type="hidden" name="property_id" value="{{ unit.property_id }}">
    <input type="hidden" name="unit_id" value="{{ unit.unit_id }}">
    <button class="btn btn-sm btn-warning"
            formaction="{{ url_for('invoices.edit_invoice') }}"
            title="Edit Invoice">
        <i class="ti-pencil"> </i>
    </button>
    <button class="btn btn-sm btn-primary"
            type="submit"
            title="Click to pay invoice"
    >
        <i class="ti-credit-card"></i>
    </button>

</form>