{% extends "layouts/page.html" %}

{% block content %}
    <div class="card col-lg-6 col-md-6 col-sm-12">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h1 class="card-title">Edit Payment</h1>
            <div>
                <button class="btn btn-sm btn-danger" onclick="window.history.back();">
                    <span class="font-weight-bold">
                        <i class="ti-back-left"></i>
                        Back
                    </span>
                </button>
            </div>
        </div>
        <div class="card-footer">
            <form action="{{ url_for('payments.do_update_payment', transaction_id=payment.transaction_id) }}"
                  method="POST"
                  enctype="application/x-www-form-urlencoded"
            >
                <input type="hidden" name="transaction_id" value="{{ payment.transaction_id }}">
                <input type="hidden" name="invoice_number" value="{{ payment.invoice_number }}">
                <input type="hidden" name="tenant_id" value="{{ payment.tenant_id }}">
                <input type="hidden" name="property_id" value="{{ payment.property_id }}">
                <input type="hidden" name="unit_id" value="{{ payment.unit_id }}">

                <div class="form-group">
                    <label for="amount_paid">Amount Paid:</label>
                    <input class="form-control" type="number" id="amount_paid" name="amount_paid"
                           value="{{ payment.amount_paid }}" required>
                </div>
                <div class="form-group">
                    <label for="date_paid">Date Paid:</label>
                    <input class="form-control" type="date" id="date_paid" name="date_paid"
                           value="{{ payment.date_paid }}" required>
                </div>
                <div class="form-group">
                    <label for="payment_method">Payment Method:</label>
                    <select class="form-control" name="payment_method">
                        <option value="credit_card" {% if payment.payment_method == 'credit_card' %}selected{% endif %}>
                            Credit Card
                        </option>
                        <option value="bank_transfer"
                                {% if payment.payment_method == 'bank_transfer' %}selected{% endif %}>Bank Transfer
                        </option>
                        <option value="direct_deposit"
                                {% if payment.payment_method == 'direct_deposit' %}selected{% endif %}>Direct Deposit
                        </option>

                        <option value="cash" {% if payment.payment_method == 'cash' %}selected{% endif %}>Cash</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="is_successful">Is Successful:</label>
                    <select class="form-control" id="is_successful" name="is_successful" required>
                        <option value="true" {% if payment.is_successful %}selected{% endif %}>Yes</option>
                        <option value="false" {% if not payment.is_successful %}selected{% endif %}>No</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="comments">Comments:</label>
                    <textarea class="form-control" id="comments" name="comments">{{ payment.comments }}</textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="ti-save"> </i> Update Payment
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
