{% extends "layouts/page.html" %}

{% block content %}
    <div class="card">
        <div class="card-header  d-flex justify-content-between align-items-center">
            <h3 class="card-title">
                <i class="ti-check-box"> </i>
                Verify Payment
            </h3>
            <div>
                <button class="btn btn-sm btn-danger" onclick="window.history.back();">
                    <span class="font-weight-bold">
                        <i class="ti-back-left"></i>
                        Back
                    </span>
                </button>
            </div>
        </div>
        <div class="row">

            <div class="card-footer col-lg-6 col-md-6">
                <form enctype="application/x-www-form-urlencoded"
                      action="{{ url_for('payments.do_verify_payment') }}"
                      method="post"
                >

                    <div class="card-body">
                        <input type="hidden" name="transaction_id" value="{{ payment.transaction_id }}">
                        <input type="hidden" name="invoice_number" value="{{ payment.invoice_number }}">
                        <input type="hidden" name="tenant_id" value="{{ payment.tenant_id }}">
                        <input type="hidden" name="property_id" value="{{ payment.property_id }}">
                        <input type="hidden" name="unit_id" value="{{ payment.unit_id }}">
                        <input type="hidden" name="month" value="{{ payment.month }}">
                        <div class="form-group">
                            <label for="payment_method" class="font-weight-bold text-info">Payment Method:</label>
                            <select class="form-control" id="payment_method" name="payment_method">
                                <option value="credit_card">Credit Card</option>
                                <option value="bank_transfer">Bank Transfer</option>
                                <option value="cash">Cash</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="amount_paid" class="font-weight-bold text-info">Amount Paid:</label>
                        <input type="text" class="form-control"
                               id="amount_paid"
                               value="{{ payment.amount_paid|currency }}"
                               name="amount_paid" required>
                    </div>
                    <div class="form-group">
                        <label for="date_paid" class="font-weight-bold text-info">Date Paid</label>
                        <input type="date" class="form-control" id="date_paid"
                               name="date_paid">
                    </div>
                    <div class="form-group">
                        <label for="is_successful"> Payment Verification</label>
                        <select id="is_successful" name="is_successful" class="form-control">
                            <option value="0">Payment Rejected</option>
                            <option value="1">Payment Verified</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="comments" class="font-weight-bold text-info">Comments:</label>
                        <textarea class="form-control" id="comments" name="comments" rows="3"></textarea>
                    </div>
                </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary font-weight-bold">
                            <i class="ti-credit-card"> </i>
                            Verify Payment
                        </button>
                        <a href="{{ url_for('buildings.get_unit', building_id=payment.property_id,unit_id=payment.unit_id) }}"
                           type="reset" class="btn btn-sm btn-danger">
                            <i class="ti-close"></i>
                            Cancel
                        </a>
                    </div>
                </form>
            </div>

            <div class="card-footer col-lg-6 col-md-6">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="ti-file"></i>
                        Invoice</h3>
                </div>
                <div class="card-body">
                    <div class="card-footer">
                        <h3>Invoice #: {{ invoice.invoice_number }} </h3>
                        <ul class="list-group">
                            <li><strong>Service Rendered:</strong>
                                <span class="text-lg-right text-info">
                            {{ invoice.service_name }}
                        </span>
                            </li>
                            {#                            <li><strong>Description</strong>#}
                            {#                                <textarea cols="8" rows="6" class="form-control"#}
                            {#                                          disabled>{{ invoice.description }}</textarea>#}
                            {#                            </li>#}
                            <li><strong>Tenant:</strong>
                                <span class="text-lg-right text-info">
                            {{ invoice.customer.name }}
                        </span>
                            </li>
                            <li><strong>Date Issued:</strong>
                                <span class="text-lg-right text-info">
                            {{ invoice.date_issued }}
                        </span>
                            </li>
                            <li><strong>Due Date:</strong>
                                <span class="text-lg-right text-info">
                            {{ invoice.due_date }}
                        </span>
                            </li>
                            <li><strong>Month:</strong>
                                <span class="text-lg-right text-info">
                            {{ invoice.month }}
                        </span>
                            </li>
                            <li><strong>Rental Amount:</strong>
                                <span class="text-lg-right text-info">
                        {{ invoice.currency }} {{ invoice.rental_amount|currency or 'N/A' }}.00
                        </span>
                            </li>
                        </ul>
                    </div>

                    <div class="card-footer">
                        <ul class="list-group">
                            <h4>Invoiced Items:</h4>
                            {% for item in invoice.invoice_items %}
                                <li class="list-group-item">{{ item.description }}
                                    -
                                    <span class="text-lg-right text-info">{{ invoice.currency }} {{ item.sub_total|currency }}.00</span>
                                </li>
                            {% endfor %}
                            {% if invoice.rental_amount %}
                                <li class="list-group-item">Rental Amount -
                                    <span class="text-lg-right text-info">{{ invoice.currency }} {{ invoice.rental_amount|currency }}.00</span>
                                </li>
                            {% endif %}
                        </ul>
                    </div>

                    <div class="card-footer">
                        <ul class="list-group">
                            <h4>Totals:</h4>
                            <li class="list-group-item"><strong>Total Amount:</strong>
                                <span class="text-lg-right text-info">
                                {{ invoice.currency }} {{ invoice.total_amount|currency }}.00
                            </span>
                            </li>
                            <li class="list-group-item"><strong>Taxes:</strong>
                                <span class="text-lg-right text-info">
                                {{ invoice.currency }} {{ invoice.total_taxes|currency }}.00
                            </span>
                            </li>
                            <li>
                                <hr>
                            </li>
                            <li class="list-group-item"><strong>Amount Payable: </strong>
                                <span class="text-lg-right text-info">
                                {{ invoice.currency }} {{ invoice.amount_payable|currency }}.00
                            </span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
