{% extends "layouts/page.html" %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ plan.name }}</h3>
                <div>
                    <span class="card-text"> {{ plan.description }}</span>
                </div>
                <div class="card-body">
                    <div id="paypal-button-container-{{ plan.paypal_id }}"></div>
                    <script src="https://www.paypal.com/sdk/js?client-id={{ client_id }}&vault=true&intent=subscription"
                            data-sdk-integration-source="button-factory"></script>
                    <script>
                        paypal.Buttons({
                            style: {
                                shape: 'rect',
                                color: 'gold',
                                layout: 'vertical',
                                label: 'subscribe'
                            },
                            createSubscription: function (data, actions) {
                                return actions.subscription.create({
                                    /* Creates the subscription */
                                    plan_id: '{{ plan.paypal_id }}'
                                });
                            },
                            onApprove: function (data, actions) {
                                alert(data.subscriptionID); // You can add optional success message for the subscriber here
                                {#  TODO - send message to backend that the plan was approved   #}
                            }
                        }).render('#paypal-button-container-{{ plan.paypal_id }}'); // Renders the PayPal button
                    </script>
                </div>
            </div>
        </div>
    </div>

{% endblock %}