{% extends "layouts/page.html" %}

{% block content %}
    <section class="container">
        <div class="card">
            <h2 class="card-title">About Rental Manager</h2>
            <p>Welcome to the about page of Rental Manager! We're excited to share some insights about our platform and
                how it can make your rental management experience seamless.</p>
        </div>
        <div class="card">
            <h3 class="card-title text-success font-weight-bold">Our Mission</h3>
            <p>At Rental Manager, our mission is to simplify the rental management process for property owners,
                managers, and tenants, we will always strive to ensure that property management and rental process is as
                easy as it can be</p>
        </div>
        <div class="card">
            <h3 class="card-title text-success font-weight-bold">Why Choose Us?</h3>
            <p>We understand the challenges of managing rental properties, and that's why we've created Rental Manager
                to offer</p>
            <ul class="list-group">
                <li class="list-inline-item">Automatic Invoicing for Tenants</li>
                <li class="list-inline-item">Easy & Intuitive Billing</li>
                <li class="list-inline-item">Automatically Inform your Tenants when leases Expire</li>
            </ul>
        </div>
        <div class="card">
            <h3 class="card-title text-success font-weight-bold">Features</h3>
            <p>Rental Manager comes with a range of features designed to streamline rental property management...</p>
            <ul class="list-group">
                <li class="list-inline-item">Intuitive Business & Property Management</li>
                <li class="list-inline-item">Auto Emailing of Invoices, Payment Receipts & Statements</li>
                <li class="list-inline-item">Easy to Use Billing for your Tenants</li>
            </ul>

        </div>
        <div class="card">
            <h3 class="card-title text-info font-weight-bold">Contact Us</h3>
            <p>If you have any questions, feedback, or inquiries, we're here to help. Get in touch with us at
                info@rental-manager.site </p>
        </div>

    </section>
{% endblock %}
