{% extends "layouts/page.html" %}

{% block content %}
    <!-- Add tabs navigation -->
    <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="card-title">Tenant Dashboard</h3>
        <div>
            <button class="btn btn-sm btn-default" onclick="window.print()">
                <span class="font-weight-bold">
                <i class="ti-printer"> </i>
                    Print
                </span>
            </button>

        </div>
    </div>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="tenant-details-tab" data-toggle="tab" href="#tenant-details">Tenant Details</a>
            </li>
{#            <li class="nav-item">#}
{#                <a class="nav-link" id="add-tenant-tab" data-toggle="tab" href="#add-tenant">Quotations</a>#}
{#            </li>#}
        </ul>

    <!-- Add tab content -->
    <div class="tab-content">
        <!-- Tenant Details Tab -->
        <div class="tab-pane fade show active" id="tenant-details">
            <!-- Display tenant details in a table -->
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Tenant Name</th>
                        <th>Email</th>
                        <th>Cell</th>
                        <th>Leasing</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Loop through the list of tenants -->
                    {% for tenant in tenants %}
                    <tr>
                        <td>
                            <!-- Make tenant name clickable to allow for editing -->
                            <a href="{{ url_for('tenants.get_tenant', tenant_id=tenant.tenant_id) }}">
                                <span class="font-weight-bold font-italic text-info">
                                    {{ tenant.name }}
                                </span>
                            </a>
                        </td>
                        <td>{{ tenant.email }}</td>
                        <td>{{ tenant.cell }}</td>
                        <td>{{ tenant.lease_period|lease_counter }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/tenants/quotations.js') }}"></script>
{% endblock %}