{% extends "layouts/page.html" %}

{% block content %}
    <!-- Add tabs navigation -->
    <div class="card">
        <div class="card-header  d-flex justify-content-between align-items-center">
            <ul class="nav nav-tabs" id="tenantTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab"
                       aria-controls="details" aria-selected="true">
                        <span class="font-weight-bold text-info">
                            <i class="ti-user"> </i>
                            Tenant Details
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="false">
                        <span class="font-weight-bold text-info">
                            <i class="ti-marker"> </i>
                            Address
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="company-tab" data-toggle="tab" href="#company" role="tab" aria-controls="company" aria-selected="false">
                        <span class="font-weight-bold text-info">
                            <i class="ti-folder"> </i>
                            Company
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="invoices-tab" data-toggle="tab" href="#invoices" role="tab" aria-controls="company" aria-selected="false">
                        <span class="font-weight-bold text-info">
                            <i class="ti-file"> </i>
                            Invoices
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="statements-tab" data-toggle="tab" href="#statements" role="tab"
                       aria-controls="statements" aria-selected="false">
                        <span class="font-weight-bold text-info">
                            <i class="ti-files"> </i>
                            Statements
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="rentals-tab" data-toggle="tab" href="#rentals" role="tab"
                       aria-controls="rentals" aria-selected="false">
                                        <span class="font-weight-bold text-info">
                                            <i class="ti-files"> </i>
                                            Payment Records
                                        </span>
                    </a>
                </li>

            </ul>
            <div>
                <button class="btn btn-sm btn-danger" onclick="window.history.back();">
                    <span class="font-weight-bold">
                        <i class="ti-back-left"></i>
                        Back
                    </span>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content" id="tenantTabsContent">
                <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
                    {% include "tenants/tables/tenants_details.html" %}
                </div>
                <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                    {% if tenant and tenant.address_id %}
                    {% include "tenants/tables/tenant_address.html" %}
                    {% else %}
                        {% include "tenants/modals/add_address.html" %}
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="company" role="tabpanel" aria-labelledby="company-tab">
                    {% if tenant and tenant.company_id %}
                        {% include "tenants/tables/company_data.html" %}
                    {% else %}
                       {% include "tenants/modals/add_company.html" %}
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="invoices" role="tabpanel" aria-labelledby="invoices-tab">
                    {% include "tenants/tables/invoices_tables.html" %}
                </div>
                <div class="tab-pane fade" id="statements" role="tabpanel" aria-labelledby="statements-tab">
                    {% include "tenants/tables/statements.html" %}
                </div>
                <div class="tab-pane fade" id="rentals" role="tabpanel" aria-labelledby="rentals-tab">
                    {% include "tenants/tables/rentals.html" %}
                </div>
            </div>
        </div>
    </div>

    {% if tenant and tenant.email %}
        {% include "tenants/modals/send_email.html" %}
    {% endif %}

{% endblock %}

