<div class="card">
    <div class="card-header  d-flex justify-content-between align-items-center">
        <h3 class="card-title font-weight-bold">Invoices</h3>
        <div>
            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#createInvoiceModal">
                <i class="ti-files"> </i>
                Create Invoice
            </button>
            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#emailModal">
                <i class="ti-email"> </i>
                Send Invoice
            </button>
            <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#printInvoiceModal">
                <i class="ti-printer"> </i>
                Print Invoice
            </button>
        </div>
    </div>

    <div class="card-footer">
    </div>
</div>

{% include "building/units/modals/print_invoice.html" %}
{% include "building/units/modals/send_email.html" %}
{% include "building/units/modals/create_invoice.html" %}